.search {
  width: calc(280px + 744 * ((100vw - 320px) / (1280 - 320)));
  //______начальная_+_доп_*____100vw-min____/____ max-min___
  margin: auto;
  border-radius: 30px;
  background-color: rgba($color: #fff, $alpha: 0.7);
  padding: 25px;
  box-shadow: 0px 9px 20px -4px rgba(50, 50, 50, 0.6),
    0px 11px 13px -5px rgba(50, 50, 50, 0.2);

  &__input {
    width: 100%;
    display: flex;
    padding: 10px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
  }
}

.full-width {
  width: 100%;
}
